---
layout: default
---
{%- include header.html -%}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><main class="post__wrapper">

  {%- include header_nav.html -%}
  <article class="post">
    <header class="post__header">
      <h1 class="post__title page__title">{{ page.title | escape }}</h1>
    </header>
    <div class="post__content content">
      {{ content | img_prefix }}
    </div>
  </article>
  {%- include contact.html -%}
</main>
{%- include footer.html -%}
